@font-face {
  font-family: "SFProDisplay-Regular";
  src: url("./fonts/SFProDisplay-Regular.woff") format('woff');
  font-weight: 400;
}
@font-face {
  font-family: "SFProDisplay-Semibold";
  src: url("./fonts/SFProDisplay-Semibold.woff") format('woff');
  font-weight: 600;
}
@font-face {
  font-family: "SFProDisplay-Bold";
  src: url("./fonts/SFProDisplay-Bold.woff") format('woff');
  font-weight: 700;
}
@font-face {
  font-family: "SFProDisplay-Black";
  src: url("./fonts/SFProDisplay-Black.woff") format('woff');
  font-weight: 900;
}

:root {
  --sf-reg-family: "SFProDisplay-Regular", sans-serif;
  --sf-sem-family: "SFProDisplay-Semibold", sans-serif;
  --sf-bold-family: "SFProDisplay-Bold", sans-serif;
  --sf-black-family: "SFProDisplay-Black", sans-serif;
}